body {
  background-image: url(https://images.unsplash.com/photo-1545608444-f045a6db6133?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-family: "Englebert", cursive;
  text-align: center;
  font-weight: 800;
  font-size: 43px;
  line-height: 1.5;
  color: #ffffff;
}

.linear-wipe {
  text-align: center;
  background: linear-gradient(to right, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  border-color: #db0000;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 20px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-left: 20px;
  margin-top: 10px;
  opacity: 0.5;
  font-size: 11px;
}

a {
  color: rgb(255, 10, 10);
}

.instructions {
  padding: 16px;
  border: 1px solid #313131;
  width: 80%;
  font-size: 13px;
  border-radius: 50px;
  line-height: 20px;
  color: rgb(37, 37, 37);
}

.submit-button {
  margin-left: 10px;
  background: #d20000;
  color: white;
  border: none;
  border-radius: 50px;
  width: 150px;
  font-size: 16px;
  padding: 14px 24px;
  transition: all 200ms ease-in-out;
}

.submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
  animation: bounceRotate 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes bounceRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  30% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(0) rotate(10deg);
  }
  70% {
    transform: translateY(-8px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.message {
  background-color: white;
  border-left: 3px solid #db0000;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  line-height: 24px;
}

.hidden {
  display: none;
}

.message strong {
  color: #db0000;
}

footer {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
